.bannerMobile {
   display: none;
   flex-direction: column;
   align-items: center;
   width: 100%;
   overflow: scroll;
}

.mainImgBlock {
   height: 137px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.mainImg {
   transform: translateY(40px);
}

.title {
   font-weight: 700;
   display: flex;
   font-size: 40px;
   margin-top: 38px;
   text-align: center;
   padding: 0 20px;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 176px;
   text-align: center;
   color: #2E3A59;
   height: 151px;
}

@media screen and (max-width: 675px) {
   
   .title {
      font-size: 24px;
      line-height: 28.13px;
   }

}